<!doctype html>
<html>
  <head>
    <meta charset="utf/8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Simple Plugin Example</title>
  </head>
  <script type="module">
    import { enableRouter } from '/js/banno-plugin-framework-bridge.js';
    enableRouter();
  </script>

  <body >
    <div>Anchors using: <b>@jack-henry/banno-plugin-framework-bridge</b>
    </div>
    <br />
    <ul>
      <li>
        <a href="<%= url %>">normal</a>
      </li>
      <li>
        <a target="_top" href="<%= url %>">target="_top"</a>
      </li>
      <li>
        <a target="_blank" href="<%= url %>">target="_blank"</a>
      </li>
    </ul>
  </body>
</html>
